<div>
  <h2 id="page-heading" data-cy="AgencyHeading">
    <span jhiTranslate="bankAdviceSystemApp.agency.home.title">Agencies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="bankAdviceSystemApp.agency.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-agency"
        [routerLink]="['/agency/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="bankAdviceSystemApp.agency.home.createLabel"> Create a new Agency </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="agencies?.length === 0">
    <span jhiTranslate="bankAdviceSystemApp.agency.home.notFound">No agencies found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="agencies && agencies.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="bankAdviceSystemApp.agency.name">Name</span></th>
          <th scope="col"><span jhiTranslate="bankAdviceSystemApp.agency.address">Address</span></th>
          <th scope="col"><span jhiTranslate="bankAdviceSystemApp.agency.contact">Contact</span></th>
          <th scope="col"><span jhiTranslate="bankAdviceSystemApp.agency.email">Email</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let agency of agencies; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/agency', agency.id, 'view']">{{ agency.id }}</a>
          </td>
          <td>{{ agency.name }}</td>
          <td>{{ agency.address }}</td>
          <td>{{ agency.contact }}</td>
          <td>{{ agency.email }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/agency', agency.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/agency', agency.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(agency)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
